<h2><%= @user.username %></h2>
<h4><em><%= @user.email %></em></h4>

<h3>Are you available to water other GreenDiggers' plants?</h3>

<% if @user.available == true %>
  <h4>I'm available!</h4>
  <%= button_to "Make me unavailable", change_available_path(@user) %>
<% else %>
  <h4>I'm not available!</h4>
  <%= button_to "Make me available", change_available_path(@user) %>
<% end %>
<br>
<br>
<%= button_to "Edit my info", edit_user_registration_path %> 

<h3>My plants</h3>
<% @user.plants.each do |plant| %>
  <ul>
    <li><%= plant.name %></li>
    <li><%= link_to "Remove Plant", remove_plant_from_user_path(plant) %></li>
  </ul>
<% end %>

<%= render template: "plants/index", :locals => {:@plants => Plant.all}%>

