
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h3>My plants</h3>
    <% @user.plants.each do |plant| %>
      <ul>
        <li><%= plant.name %></li>
        <li><%= link_to "Remove Plant", remove_plant_from_user_path(plant) %></li>
      </ul>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4" id="availToggle">
    <h4>Are you available to water other GreenDiggers' plants?</h4>
    <% if @user.available == true %>
      <span class="h4">I'm currently available! (click to change)</span>
      <%= link_to change_available_path(@user) do %>
        <button class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      <% end %>
    <% else %>
      <span class="h4">I'm not currently available. (click to change)</span>
      <%= link_to change_available_path(@user) do %>
        <button class="btn btn-success active"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
      <% end %>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= render template: "plants/index", :locals => {:@plants => Plant.all}%>
  </div>

</div>


<div class="row">
  <%= link_to "Edit my info", edit_user_registration_path %> 
</div>



