<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="row">
      <div class="col-xs-6 col-sm-5 col-md-5">
        <% if @user.profile_pic.length > 1 %>
        <%= image_tag(@user.profile_pic, class: "img-responsive img-circle") %>
        <% else %>
          <%= fallback_img %>
        <% end %>
      </div> 
      <div class="col-xs-6 col-sm-5 col-md-5">
        <h2><%= @user.username %></h2>
        <p>Your GreenDigger rating</p>
        <%= rating_for @user, "feedback", {readonly: true} %>
        <small><%= link_to "edit my info", edit_user_registration_path %></small>
      </div>
    </div> 
    <h3>My plants</h3>
    <% @user.plants.each do |plant| %>
      <ul class="list-group">
        <li class="list-group-item"><%= plant.name %><br>
        <span class="listLink"><%= link_to "Remove from My plants", remove_plant_from_user_path(plant) %></span></li>
      </ul>
    <% end %>   
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div id="availToggle">
      <h4>Are you available to water other GreenDiggers' plants?</h4>
      <% if @user.available == true %>
        <span class="h4">I'm currently available! (click to change)</span>
        <%= link_to change_available_path(@user) do %>
          <button class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <% end %>
      <% else %>
        <span class="h4">I'm not currently available. (click to change)</span>
        <%= link_to change_available_path(@user) do %>
          <button class="btn btn-success active"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
        <% end %>
      <% end %>
    </div>
    <div id="diggerList">
      <h4>GreenDiggers ready to look after my plants</h4>
      <%= render template: "users/index", :locals => {:@users => User.all}%>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= render template: "plants/index", :locals => {:@plants => Plant.all}%>
  </div>

</div>




