
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h3>My plants</h3>
    <% @user.plants.each do |plant| %>
      <ul>
        <li><%= plant.name %></li>
        <li><%= link_to "Remove Plant", remove_plant_from_user_path(plant) %></li>
      </ul>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h4>Are you available to water other GreenDiggers' plants?
    <% if @user.available == true %>
      I'm available!
      <%= button_to "Make me unavailable", change_available_path(@user) %>
    <% else %>
      I'm not available!</h4>
      <%= button_to "Make me available", change_available_path(@user) %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= render template: "plants/index", :locals => {:@plants => Plant.all}%>
  </div>

</div>


<div class="row">
  <%= link_to "Edit my info", edit_user_registration_path %> 
</div>



