<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h2><%= @user.username %></h2>

    <% if @user.available == true %>
      <h4><%= @user.username %> is available to water plants!</h4>
      <%= link_to "mailto:#{@user.email}" do %>
        <button class="btn btn-success">Email <%= @user.username %></button>
      <% end %>
    <% else %>
      <h4>Sorry, <%= @user.username %> is not available!</h4>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <h3><%= @user.username %>'s plants</h3>
    <% @user.plants.each do |plant| %>
      <ul class="list-group">
        <li class="list-group-item"><strong><%= plant.name %></strong><br>
        <em><%= plant.species %></em>
        </li>
      </ul>
    <% end %>
  </div>
</div>