<h2><%= @user.username %></h2>
<h4><em><%= @user.email %></em></h4>

<h3>Are you available to water other GreenDiggers' plants?</h3>

<% if @user.available == true %>
  <h4>Available</h4>
<% else %>
  <h4>Not Available</h4>
<% end %>


<% @user.plants.each do |plant| %>
  <ul>
    <li><%= plant.name %></li>
    <li><li><%= link_to "Remove Plant", remove_plant_from_user_path(plant) %></li></li>
  </ul>
<% end %>


<%= render template: "plants/index", :locals => {:@plants => Plant.all}%>

