<div class="row">
  <div class="left col-xs-12 col-sm-6 col-md-4">
    <div class="row">
      <div class="col-xs-6 col-sm-5 col-md-5">
        <% if @user.profile_pic.length > 1 %>
        <%= image_tag(@user.profile_pic, class: "img-responsive img-circle") %>
        <% else %>
          <%= fallback_img %>
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-5 col-md-5">
      <h2><%= @user.username %></h2>
      <p>GreenDigger rating</p>
      <%= rating_for @user, "feedback", :disable_after_rate => true %>
      </div>
    </div>
  </div>
  <div class="middle col-xs-12 col-sm-6 col-md-4">
    <h3><%= @user.username %>'s plants</h3>
    <% @user.plants.each do |plant| %>
      <ul class="list-group">
        <li class="list-group-item"><strong><%= plant.name %></strong><br>
        <em><%= plant.species %></em>
        </li>
      </ul>
    <% end %>
  </div>
</div>