<div class="row">
  <div class="left col-xs-12 col-sm-6 col-md-4">
    <% if @user.profile_pic.length > 1 %>
    <%= image_tag(@user.profile_pic, class: "img-responsive img-circle") %>
    <% else %>
      <%= fallback_img %>
    <% end %>
    <span class="h2"><%= @user.username %></span>
    <p><%= @user.feedback %></p>

    <% if @user.available == true %>
      <h4><%= @user.username %> is available to water plants!</h4>
      <%= link_to "mailto:#{@user.email}" do %>
        <button class="btn btn-success">Email <%= @user.username %></button>
      <% end %>
    <% else %>
      <h4>Sorry, <%= @user.username %> is not available!</h4>
    <% end %>
  </div>
  <div class="middle col-xs-12 col-sm-6 col-md-4">
    <h3><%= @user.username %>'s plants</h3>
    <% @user.plants.each do |plant| %>
      <ul class="list-group">
        <li class="list-group-item"><strong><%= plant.name %></strong><br>
        <em><%= plant.species %></em>
        </li>
      </ul>
    <% end %>
  </div>
</div>