<h2><%= @user.username %></h2>
<h4><em><%= @user.email %></em></h4>

<h3>Are you available to water other GreenDiggers' plants?</h3>
<%= form_tag :action => 'edit', :id => @user  %>
  <%= check_box("users", "available" , {}, "I'm available", "I'm busy")%>


<%= render template: "plants/index", :locals => {:@plants => Plant.all}%>

